<h1> Git repo visualisation </h1>
<p> {{ url }} cloned in {{path}} / {{commit_id}}, file: {{filename}} (markup={{fmt}})</p>

{% autoescape off %}
{{file}}
{% endautoescape %}

<footer>
  <p> {{ url }} cloned in {{path}} / {{commit_id}},
file: {{filename}} (markup={{fmt}})</p>
</footer>
