<h1> Git repo visualisation </h1>
{{ url }} cloned in {{path}}

<h3>Commit list:</h3>

<ul>
{% for commit in commits %}
<li><a href="commit/{{commit.hexsha}}">{{commit.hexsha |slice:":10"}} </a>{{commit.message |truncatewords:"10"}} by <em>{{ commit.author.name }}</em> on {{commit.committed_date}}</li>
{% endfor %}
</ul>
