h1 {
    color: green;
}

.alert {
    background-color: orange;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.tools {
    background-color: #3EC9CB;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.footer {
    font-size: 0.7em;
}