This is not valid HTML
<h1>{{ name }}</h1>

<form action="{% url 'wiki:edit' path %}" method="post">
  {% csrf_token %}

  <textarea name="text">
    {{ text }}
  </textarea>

  <input type="submit" value="Edit" />
</form>

Powered by the Zuper wiki-annotator processor.
Page created on {{ pub_date }}
