{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/html/style.css' %}" />
    <script src="{% static 'wiki/lib/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'wiki/lib/annotator.1.2.7/annotator.min.js' %}"></script>
    <script src="{% static 'wiki/lib/annotator.1.2.7/annotator.store.min.js' %}"></script>
    <script src="{% static 'wiki/lib/jquery.cookie.js' %}"></script>
    <script src="{% static 'wiki/lib/wanno.js' %}"></script>
    <script src="{% static 'wiki/lib/csrf.js' %}"></script>
    <link rel="stylesheet" href="{% static 'wiki/lib/annotator.1.2.7/annotator.min.css' %}">
  </head>
  <body>
    
    This is not valid HTML
    <h1>{{ name }}</h1>
    <div class="alert">Let's display some information here</div>
    <div id="annotations">
      <div id="annotatedtext">
	<p>
	  {{ text }}
	</p>
      </div>
    </div>

    
    <div class="tools">
      <p> You always can <a href="{% url 'wiki:edit' path %}">edit</a> this page</p>
      <p> You always also <a id="submit" href="#">submit</a> this page (with jquery :)</p>

    </div>
    <div class="footer">
      ______________<br/>
      Powered by the <em>Zuper</em> wiki-annotator processor.
      Page created on {{ pub_date }}. Last edited on [tbc].
    </div>
  </body>
</html>
